################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_SERVICE_INTEGRATION_EAR/FileContentIndex/43df884d-120c-4415-a640-73d605885796.vsidx
