################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_SERVICE_INTEGRATION_EAR/FileContentIndex/43df884d-120c-4415-a640-73d605885796.vsidx
/.vs/STR_SERVICE_INTEGRATION_EAR/FileContentIndex/27378ab7-72b5-4976-8864-4202ddcb860e.vsidx
/.vs/STR_SERVICE_INTEGRATION_EAR/FileContentIndex/7b0c76a6-5009-4c3c-9336-ff048946b4f9.vsidx
/.vs/STR_SERVICE_INTEGRATION_EAR/FileContentIndex/cfd1d215-56d3-41ea-ae31-054c1e7ea6ee.vsidx
